<form>
    <center>
        <div class="mb-3">
        <h2>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
        </h2>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
        <h4>

            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </h4>    
        </div>
        <div class="mb-3">
        <h2><label for="exampleInputPassword1" class="form-label">Password</label></h2>
        <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </h5><label class="form-check-label" for="exampleCheck1">Check me out</label></h5>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </center>
  </form>